footer{
    background-color: $color1;
    padding: 1rem;
    color: $color2;
    text-align: center;
    font-family: $text-normal;
    a{
        color: $color2;
        text-decoration: none;
        &:hover{
            color: $color1;
        }
    }
    img{
        width: 100%;
       
        }
}