#proposSection3{
    background-image: url(../../img/Sun-Shining-Through-Forest.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem;


    .proposSection3__sous-section{
        max-width: 1200px;
        margin: auto;       
        padding: 3rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;


        p{
            background-color: $color5;
            font-family: $text-normal;
            font-size: 1.2em;
            margin-bottom: 20px;
            letter-spacing: 1.5px;
            text-indent: 5%;
            padding:2rem;
            color:$color1;
        }
    }

}

.proposSection3__container-img{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    img{
     
        border-radius: 20px;
        margin: 2rem;
        width: 33%;
    }
}