#tarifsection1{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
}

.tarifsection1__titre{
        padding-bottom: 2rem;

        h1{
            font-size: 4rem;
            font-weight: 600;
            color:$color1;
            margin: 2rem;
            font-family: $text-fleur;
        }

        p{
            font-weight: 400;
            font-size: 3rem;
            text-align: center;
            color:black;
            margin: 2rem;
            font-family: $text-grey;
        }
    }

.tarifsection1__btn{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3rem;
}
