#tarifsection3{
    max-width: 1200px;
    margin: auto;

    h2{
        color:$color1;
        font-size: 3.5rem;        
        text-align: center;
        margin-bottom: 2rem;
        font-family: $text-grey;
    }

    button{
        color:$color1;
    }
}

.tarifsection3__card{
    margin-bottom:3rem;
}