$color1:rgb(46, 46, 44);
$color2:rgb(83, 95, 92);
$color3:rgb(79,78,75);
$color4:rgb(108,108,105);
$color5:rgb(173, 178, 174);
$text-normal:'Gabriela',  sans-serif ;
$text-cursive:'Gabriela',  cursive;
$text-fleur:'Fleur De Leah', cursive;
$text-grey:'Grey Qo', cursive , bold;
